<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<footer class="text-center text-lg-start bg-light text-muted" style="background-color: #9933CC">
    <div class="container">
        <div class="row">
            <div class="col-md-6 ">
                <div class="logo-part">
                    <h1>TECHSTORE</h1>
                   <p>TechStore est une boutique High tech en ligne qui vous propose<br> des articles informatiques de qualité et à moindre coût.</p>
                </div>
             </div>
             <div class="col-md-6 px-4">
                <h3> A propos de nous</h3>
                <i class="fa-solid fa-location-crosshairs"></i><p>200 Avenue de la République, 92000 Nanterre, France</p>
                <a href="#" class="btn-footer"> Plus d'Info </a><br>
                <a href="#" class="btn-footer"> Contactez-nous</a>
             </div>
            
        </div>
    </div>
    
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">TECHSTORE</a>
    </div>
    <!-- Copyright -->
</footer>
