<!-- <div class="container">
  <div class="row">
    <div class="col s8 offset-s2">
      <div class="card grey lighten-2">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width tabs-transparent">
            <li class="tab">
              <a routerLink='/login' routerLinkActive='active'>Connexion</a>
            </li>
          </ul>
        </div>
        <div class="card-content white">
          <div class="row">
            <div *ngIf="isLoginError" class="red-text center error-message">
                <i class="material-icons">error</i> Mot de passe ou nom d'utilisateur incorrect
            </div>
            <form #loginForm="ngForm" class="col s12 white" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
              <div class="row">
                <div class="input-field col s12">
                  <i class="material-icons prefix">account_circle</i>
                  <input type="text" #UserName ngModel name="UserName" placeholder="Utilisateur" required>
                </div>
              </div>
              <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">vpn_key</i>
                    <input type="password" #Password ngModel name="Password" placeholder="Mot de passe" required>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
                  </div>
                </div>
            </form>     
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
            
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulaire de connexion en HTML & CSS - Frenchcoder</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
  <form #loginForm="ngForm">
     
    <h1>Se connecter</h1>
    <!-- <div class="social-media">
      <p><i class="fab fa-google"></i></p>
      <p><i class="fab fa-youtube"></i></p>
      <p><i class="fab fa-facebook-f"></i></p>
      <p><i class="fab fa-twitter"></i></p>
    </div> -->
    <p class="choose-email">ou utiliser mon adresse e-mail :</p>
    
    <div class="inputs">
      <input name="email" #email type="email" placeholder="Email" />
      <input name="password" #password type="password" placeholder="Mot de passe">
    </div>
    <div *ngIf="isLoginError" class="red-text center error-message">
      <i class="material-icons">error</i> Mot de passe ou nom d'utilisateur incorrect
   </div>
    
    <p class="inscription">Je n'ai pas de <span>compte</span>. Je m'en <span>crée</span> un.</p>
    <div align="center">
      <button [disabled]="!loginForm.valid" (click)="OnSubmit(email.value,password.value)" type="submit">Se connecter</button>
    </div>
  </form>
</body>

