
  <nav class = "navbar" style="background-color: #e3f2fd;">
        <div class="nav">
                <a href=""><img class= "brand-logo"  src= "./assets/logo.png" alt></a>   
          <div class = "nav-items" >
            <div class="searchbar " style= "margin-left: 500px; margin-top: -1px;" >
              <input class = "search-box" placeholder="Rechercher">
              <button class="search-btn"> Rechercher </button>
            </div>
            <a href="/profil"><img src="./assets/user.png"></a>
            <a href="/cart"><img src="./assets/cart.png">
            <!-- <div style="font-size: 15px;" class="badge bg-danger">{{totalItem}}</div>  --></a>
          </div>
        </div>
<ul class="links-container">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"  data-toggle="dropdown" href="#">Ordinateurs</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">PC Portable</a>
      <a class="dropdown-item" href="#">PC de bureau</a>
      <a class="dropdown-item" href="#">Accessoires</a>
    </div>
  </li>
</ul>  
</nav>
