<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
  
  <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" id="logo" alt=""> 
  

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="nav navbar-nav flex-fill justify-content-center">

      <li class="nav-item active"> 
        <a class="nav-link" href="/Home">Accueil<span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Ordinateurs
        </a>
        <div class="dropdown-menu" aria-labbeldby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/PcPortable">PC Portable</a>
          <a class="dropdown-item" href="/PcBureau">PC Bureau</a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" href="/PcAccessoires">Accessoires</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Téléphonies
        </a>
        <div class="dropdown-menu" aria-labbeldby="navbarDropdown">
          <li><a class="dropdown-item" href="/Smat">Smatphone</a></li>
          <li><a class="dropdown-item" href="/Fixe">Tel fixe</a></li>
          <hr class="dropdown-divider">
          <li><a class="dropdown-item" href="/PhoneAccessoires">Accessoires</a></li>
        </div>
      </li>
    
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Stockage
        </a>
        <div class="dropdown-menu" aria-labbeldby="navbarDropdown">
          <li><a class="dropdown-item" href="/CleUSB">Disque dur</a></li>
          <li><a class="dropdown-item" href="/DisqueDur">Clé USB</a></li>
          <hr class="dropdown-divider">
          <li><a class="dropdown-item" href="/StockageAccesoires">Accessoires</a></li>
        </div>
      </li>
    </ul>
  </div>

  <form class="form-inline justify-content-between">
    <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
  </form>
</nav>

<!--
<div class="container-fluid">
  <a class="nav-brand">
    <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
    HighTechStore
  </a>
  
  <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>

  <li class="nav-item">
    <a class="nav-link active" arria-current="page" routerLink="/Home">Home</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Ordinateurs
    </a>
    <ul class="dropdown-menu" aria-labbeldby="navbarDropdown">
      <li><a class="dropdown-item" routerLink="/PcPortable">PC Portable</a></li>
      <li><a class="dropdown-item" routerLink="/PcBureau">PC Bureau</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="/PcAccessoires">Accessoires</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Téléphonies
    </a>
    <ul class="dropdown-menu" aria-labbeldby="navbarDropdown">
      <li><a class="dropdown-item" routerLink="/Smat">Smatphone</a></li>
      <li><a class="dropdown-item" routerLink="/Fixe">Tel fixe</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="/PhoneAccessoires">Accessoires</a></li>
    </ul>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Stockage
    </a>
    <ul class="dropdown-menu" aria-labbeldby="navbarDropdown">
      <li><a class="dropdown-item" routerLink="/CleUSB">Disque dur</a></li>
      <li><a class="dropdown-item" routerLink="/DisqueDur">Clé USB</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="/StockageAccesoires">Accessoires</a></li>
    </ul>
  </li>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

</div>-->