<form [formGroup]="articleForm"> 
    <div  class= "form-group" > 
      <label  for= "nom" > Nom </label> 
      <div  class= "input-group" > 
        <input  id= "name"  class= "form-control" [formControl]="articleForm.controls.nom" > 
      </div> 
    </div> 
    <div  class= "form-group" > 
      <label  for= "categorie" > Categorie </label> 
      <div  class= "input-group" > 
        <input  id= "lname"  class= "form-control" > 
      </div> 
    </div>
    <div  class= "form-group" > 
      <label  for= "Description" > Description </label> 
      <div  class= "input-group" > 
        <input  id= "dept"  class= "form-control" > 
      </div> 
    </div> 
    <div  class= "form-group" > 
      <label> Prix </label> 
      <div  class= "input-group" > 
        <input  id= "prix"  class= "form-control" >
      </div> 
    </div> 
  </form>