
<app-navbar
[totalItem] = "totalItem">
</app-navbar>
<div><button class="search-btn" style="float:left; margin-left:0%;margin-top: 0px;" (click) = "newProduct()" >Nouveau produit</button></div>
<div class="row" style="width: 90%;">
    <ng-container *ngFor="let item of articles ">
        <div class="card col-md-3" style="align-content: center;">
   <img class= img src="{{item.image}}" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: medium;">{{item.label}}</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: medium;">{{item.description}}</p>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;font-size: medium;"><strong>Prix: </strong>{{item.price}}</p>
          
        <button class="btn btn-primary" (click)="addtocart(item)">Ajouter au panier</button>
        <br>
        <button class="btn btn-primary" (click)="openDetails(item)">Details</button>
          
  
        </div>
    </ng-container>
  </div>