
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="'carousel-item active">
            <img src="assets/images/home/img1.png" class="d-block w 100" alt="" style="height: 500px">
        </div>
        <div class="'carousel-item">
            <img src="assets/images/home/img2.png" class="d-block w 100" alt="" style="height: 500px">
        </div>
        <div class="'carousel-item">
            <img src="assets/images/home/img3.jpg" class="d-block w 100" alt="" style="height: 500px">
        </div>
    </div>
</div>